!/public/.htaccess
!/public/index.php
/vendor/*
/.idea/*
/var/.php_cs.cache
/var/.phpunit.cache
/var/.phpunit.cache/*
/var/logs/*
/.env

## Devops Stuff
*gcp-token.json*
*/.cloud/.terraform/terraform.tfstate
*/.cloud/.terraform.lock.hcl
*/.cloud/terraform.tfstate.d
*/.cloud/.terraform
