<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error retrieving help</title>
    <link rel="stylesheet" href="/assets/css/doc.css">
</head>
<body>
    <section id="content">
        <p>An error occurred when getting help page</p>
    </section>
    {% include 'ga-tracker.html.twig' %}
</body>
</html>
